html {
    height: auto;
    min-height: 100vh;
    background-color: rgb(0,159,204);
    background-attachment: fixed;
    background-size: cover;
    -moz-box-shadow: inset 0 0 20em 4em rgb(16,48,68);
    -webkit-box-shadow: inset 0 0 20em 4em rgb(16,48,68);
    box-shadow: inset 0 0 20em 4em rgb(16,48,68);
}

header {
    background: rgb(243,148,0);
    background: linear-gradient(top, rgb(243,148,0), rgb(190,120,5));
    background: -ms-linear-gradient(top, rgb(243,148,0), rgb(190,120,5));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(243,148,0)), to(rgb(190,120,5)));
    background: -moz-linear-gradient(top, rgb(243,148,0), rgb(190,120,5));
    text-align: center;
    margin-bottom: 1em;
    padding: 0.25em;
    position: fixed;
    width: 100%;
    z-index: 100;
    -moz-box-shadow: 0 0 10em rgb(16,48,68);
    -webkit-box-shadow: 0 0 10em rgb(16,48,68);
    box-shadow: 0 0 10em rgb(16,48,68);
}

h1 {
	font-family: 'Rajdhani', sans-serif;
	margin: 0;
    font-size: 1.25em;
}

h2 {
	font-family: 'Rajdhani', sans-serif;
	margin: -0.3em 0 0;
    font-size: 0.95em;
}

h3 {
	font-family: 'Rajdhani', sans-serif;
	color: rgb(243,148,0);
    font-size: 1.75em;
    margin: 0.5em 0 0.25em;
    text-shadow: 1px 1px 10px rgb(0,0,0);
}

h4 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.15em;
}

p {
	font-size: 0.75em;
	font-family: 'Zilla Slab', serif;
}

section {
	padding-top: 4em;
}

#nav-list {
	text-align: left;
    font-family: 'Zilla Slab', serif;
    color: rgb(255,255,255);
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -ms-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

#nav-list ul {
	padding-left: 1.25em;
}

#nav-list ul li {
	list-style-type: none;
	padding: 0.25em 0;
	cursor: pointer;
}

.nav-open {
	max-height: 10em !important;
}

.main-buttons div {
	text-align: center;
	margin-bottom: 1em;
}

.skills-search-container div {
	text-align: center;
	float: none;
    margin: 1em auto 0;
}

button {
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	color: rgb(255,255,255) !important;
	width: 60%;
	font-size: 20px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	padding: 8px 22px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid rgb(131,82,22);
	background: rgb(243,148,0);
	background: linear-gradient(top,  rgb(243,148,0),  rgb(190,120,5));
	background: -ms-linear-gradient(top,  rgb(243,148,0),  rgb(190,120,5));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(243,148,0)), to(rgb(190,120,5)));
	background: -moz-linear-gradient(top,  rgb(243,148,0),  rgb(190,120,5));
	cursor: pointer;
}

button:focus {outline:0;}

button:active {
	background: linear-gradient(top,  rgb(190,120,5),  rgb(243,148,0));
	background: -ms-linear-gradient(top,  rgb(190,120,5),  rgb(243,148,0));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(190,120,5)), to(rgb(243,148,0)));
	background: -moz-linear-gradient(top,  rgb(190,120,5),  rgb(243,148,0));
}

input {
	height: 1.7em;
}

.hidden {
	display: none !important;
}

.skill-box {
	padding-top: 0.45em;
	padding-bottom: 0.45em;
	display: inline-block;
    padding:  .5rem;
}

.skill-box .skill-container {
	height: auto;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(top, rgb(255, 255, 255), rgb(165, 165, 165));
    background: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(165, 165, 165));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(165, 165, 165)));
    background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(165, 165, 165));
}

.skill-box .skill-container div {
	display: inline-block;
}

.skill-box .skill-container div:first-child {
	height: 5em;
	width: 23%;
}

.skill-box .skill-container div:first-child img {
	max-width: 100%;
    padding: 0.5em 0 0 0.5em;
}

.skill-box .skill-container div:last-child {
	height: auto;
	width: 74%;
	padding: 0.5em;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.skill-box .skill-container div:last-child h4 {
	margin: 0.1em 0 0.5em;
}

.skill-box .skill-container div:last-child p {
    margin: 0 0 1em 0;
}

.red {
	color: red;
}

.orange {
	color: orange;
}


.yellow {
	color: yellow;
}

.white {
	color: white;
}

.red, .orange, .yellow, .white {
	font-weight: normal;
	text-shadow: 
		0 0 4px rgb(0,0,0),
		0 0 4px rgb(0,0,0),
		0 0 4px rgb(0,0,0);
}

#melee-skills,
#ranged-skills,
#defense-skills,
#elemental-skills,
#movement-skills,
#manipulation-skills,
#thought-skills,
#misc-skills {
	margin: 2em 0;
}

.columnFix {
	-moz-column-width: 19em;
    -webkit-column-width: 19em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}

.columnFix .skill-box {
	width:  100%;
}

#noResults {
	margin-top: 2em;
}

.nav {
	display: inline-block;
	cursor: pointer;
	float: left;
    position: absolute;
    left: 0.85em;
    top: 0.5em;
}

.bar1, .bar2, .bar3 {
	width: 29px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 415px) {
	button {
		width: auto;
	}

	header {
		text-align: center;
		margin-bottom: 2em;
		padding: 0;
		background: none;
		position: static;
    	width: auto;
    	-moz-box-shadow: none;
        -webkit-box-shadow: none;
    	box-shadow: none;
	}

	h1 {
		margin: 1em 0 0;
		font-size: 2em;
	}

	h2 {
		margin: 0;
		font-size: 1.5em;
	}

	section {
		padding-top: 0;
	}

	#home-screen.hidden {
		display: block !important; /* home-screen should always be displayed on desktop */
	}

	.nav {
		display: none;
	}
}

/* Save this color for possible use later. Light Orange, good for fading into when using gradients: rgb(255,175,60) */