html {
    height: 100%;
    background: url(/gcc-old/images/background.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(8,102,134);
    background-attachment: fixed;
}

header {
    background: rgb(243,148,0);
    background: linear-gradient(top, rgb(243,148,0), rgb(190,120,5));
    background: -ms-linear-gradient(top, rgb(243,148,0), rgb(190,120,5));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(243,148,0)), to(rgb(190,120,5)));
    background: -moz-linear-gradient(top, rgb(243,148,0), rgb(190,120,5));
    text-align: center;
    margin-bottom: 1em;
    padding: 0.25em;
    position: fixed;
    width: 100%;
    z-index: 100;
    -moz-box-shadow: 0 0 2em rgb(0,0,0);
    -webkit-box-shadow: 0 0 2em rgb(0,0,0);
    box-shadow: 0 0 2em rgb(0,0,0);
}

h1 {
	font-family: 'Rajdhani', sans-serif;
	margin: 0;
    font-size: 1.25em;
}

h2 {
	font-family: 'Rajdhani', sans-serif;
	margin: -0.3em 0 0;
    font-size: 0.95em;
}

h3 {
	font-family: 'Rajdhani', sans-serif;
	color: rgb(243,148,0);
    font-size: 2em;
    margin: 0.5em 0 0.25em;
    text-shadow: 1px 1px 10px rgb(0,0,0);
}

h4 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.15em;
}

p {
	font-size: 0.75em;
	font-family: 'Zilla Slab', serif;
}

section {
	padding-top: 5em;
}

#nav-list {
	text-align: left;
    font-family: 'Zilla Slab', serif;
    color: rgb(255,255,255);
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -ms-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

#nav-list ul {
	padding-left: 1.25em;
}

#nav-list ul li {
	list-style-type: none;
	padding: 0.25em 0;
	cursor: pointer;
}

.nav-open {
	max-height: 10em !important;
}

.main-buttons div {
	text-align: center;
	margin-bottom: 1em;
}

.character-search-container div,
.skills-search-container div,
.los-tool-select-container div {
	text-align: center;
	float: none;
    margin: 1em auto 0;
}

button {
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	color: rgb(255,255,255) !important;
	width: 60%;
	font-size: 20px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	padding: 8px 22px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid rgb(131,82,22);
	background: rgb(243,148,0);
	background: linear-gradient(top,  rgb(243,148,0),  rgb(190,120,5));
	background: -ms-linear-gradient(top,  rgb(243,148,0),  rgb(190,120,5));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(243,148,0)), to(rgb(190,120,5)));
	background: -moz-linear-gradient(top,  rgb(243,148,0),  rgb(190,120,5));
	cursor: pointer;
}

button:focus {outline:0;}

button:active {
	background: linear-gradient(top,  rgb(190,120,5),  rgb(243,148,0));
	background: -ms-linear-gradient(top,  rgb(190,120,5),  rgb(243,148,0));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(190,120,5)), to(rgb(243,148,0)));
	background: -moz-linear-gradient(top,  rgb(190,120,5),  rgb(243,148,0));
}

input,
select {
	height: 1.7em;
}

.hidden {
	display: none !important;
}

.header-img {
	width: 10em;
}

.char-container {
	display: table;
    font-size: 0;
    cursor: pointer;
}

.char-container div:first-child {
    font-size: 16px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgb(131,82,22);
    background: rgb(243,148,0);
    background: linear-gradient(top, rgb(243,148,0), rgb(190,120,5));
    background: -ms-linear-gradient(top, rgb(243,148,0), rgb(190,120,5));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(243,148,0)), to(rgb(190,120,5)));
    background: -moz-linear-gradient(top, rgb(243,148,0), rgb(190,120,5));
    font-size: 20px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: rgb(255,255,255) !important;
}

.char-container div:last-child {
	width: 84%;
    display: table-cell;
}

.char-container div:last-child img {
	width: 100%;
	height: auto;
}

.char-showhide {
	display: none;
	background: rgb(255, 255, 255);
    background: linear-gradient(top, rgb(255, 255, 255), rgb(165, 165, 165));
    background: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(165, 165, 165));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(165, 165, 165)));
    background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(165, 165, 165));
}

.char-showhide h3 {
	text-align: center;
    margin: 0;
    padding: 0.45em 0 0.35em;
    text-shadow: none;
}

.char-showhide .btn-group {
	width: 80%;
    margin: 0 10%;
    padding: 1em 0;
}

.main-buttons {
	width: 75%;
	max-width: 40em;
	margin: 0 auto;
	padding: 1em 0;
}

.char-showhide .btn-group:after,
.main-buttons:after {
	content: "";
	clear: both;
	display: table;
}

.char-showhide .btn-group button {
	float: left;
    width: 50%;
}

.main-buttons button {
	float: left;
	width: 33.33%;
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.main-buttons button:first-child,
.main-buttons button:last-child {
	border: 1px solid rgb(131,82,22) !important;
}

.char-showhide .btn-group button:first-child,
.main-buttons button:first-child {
	border-radius: 10px 0 0 10px;
}

.char-showhide .btn-group button:last-child,
.main-buttons button:last-child {
	border-radius: 0 10px 10px 0;
    border-left: none;
}

.char-showhide .btn-group button.clicked {
	background: rgb(140, 140, 140);
    background: linear-gradient(top, rgb(140, 140, 140), rgb(200, 200, 200));
    background: -ms-linear-gradient(top, rgb(140, 140, 140), rgb(200,200,200));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(140, 140, 140)), to(rgb(200,200,200)));
    background: -moz-linear-gradient(top, rgb(140, 140, 140), rgb(200,200,200));
    border: 1px solid rgb(100,100,100);
    cursor: auto;
}

.char-showhide .btn-group button.tile-btn.clicked {
	border-left: none;
}

.char-skills {
	padding-bottom: 1.25em;
}

.char-skills .skill-container, {
	height: auto;
}

.character-box {
	margin-bottom: 0.75em;
}

.skill-box {
	display: inline-block;
    padding: .5rem;
}

.skill-box .skill-container {
	height: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(top, rgb(255, 255, 255), rgb(165, 165, 165));
    background: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(165, 165, 165));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(165, 165, 165)));
    background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(165, 165, 165));
}

.skill-box .skill-container div,
.char-skills .skill-container div {
	display: inline-block;
}

.skill-box .skill-container div:first-child {
	height: 5em;
	width: 23%;
}

.char-skills .skill-container div:first-child {
	height: 5em;
	width: 22%;
}

.skill-box .skill-container div:first-child img {
	max-width: 100%;
    padding: 0.5em 0 0 0.5em;
}

.char-skills .skill-container div:first-child img {
	max-width: 100%;
    padding: 0.5em 0 0 1.25em;
}

.skill-box .skill-container div:last-child,
.char-skills .skill-container div:last-child {
	height: auto;
	width: 74%;
	padding: 0.5em;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.skill-box .skill-container div:last-child h4,
.char-skills .skill-container div:last-child h4 {
	margin: 0.1em 0 0.5em;
}

.skill-box .skill-container div:last-child p,
.char-skills .skill-container div:last-child p {
    margin: 0 0 1em 0;
}

.tile-info-wrapper {
	padding: 0.5em 1.5em 1em;
}

.rank,
.reinforcement-cost {
	padding: 0;
	font-size: 0.95em;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
}

.rank h5,
.reinforcement-cost h5 {
	display: inline;
	margin-right: 0.35em;
	font-size: 1.25em;
}

h4.no-skills {
	text-align: center;
    margin: 0.5em 0;
}

.vertical-col {
	padding: 0 !important;
}

.red {
	color: red;
}

.orange {
	color: orange;
}


.yellow {
	color: yellow;
}

.white {
	color: white;
}

.red, .orange, .yellow, .white {
	font-weight: normal;
	text-shadow: 
		0 0 4px rgb(0,0,0),
		0 0 4px rgb(0,0,0),
		0 0 4px rgb(0,0,0);
}

#melee-skills,
#ranged-skills,
#defense-skills,
#elemental-skills,
#movement-skills,
#manipulation-skills,
#thought-skills,
#misc-skills,
#heroes,
#villains,
#neutral {
	margin: 2em 0;
}

.columnFix {
	-moz-column-width: 19em;
    -webkit-column-width: 19em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}

.columnFix .skill-box {
	width:  100%;
}

#heroes-list.columnFix,
#villains-list.columnFix,
#neutral-list.columnFix {
	-moz-column-width: 30em;
    -webkit-column-width: 30em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

#noResults {
	margin-top: 2em;
}

.nav {
	display: inline-block;
	cursor: pointer;
	float: left;
    position: absolute;
    left: 1.2em;
    top: 1em;
}

.bar1, .bar2, .bar3 {
	width: 29px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 640px) {
	button {
		width: auto;
	}

	header {
		text-align: center;
		margin-bottom: 1em;
		position: static;
	}

	h1 {
		margin: 1em 0 0;
		font-size: 2em;
	}

	h2 {
		margin: 0;
		font-size: 1.5em;
	}

	section {
		padding-top: 0;
	}

	#home-screen {
		padding-top: 1em;
	}

	#home-screen.hidden {
		display: block !important; /* home-screen should always be displayed on desktop */
	}

	.nav {
		display: none;
	}
}

@media only screen and  (max-width: 639px) {
	.header-img {
		width: 7em;
	}

	#home-screen {
		padding-top: 6em;
	}

	.main-buttons {
		width: 65%;
	}

	.main-buttons button {
		float: none;
		width: 100%;
		border-radius: 10px !important;
		margin: 1em 0;
	}
}

/* LoS Tool embed scaling styles */

#los-wrapper {
	max-width: 909.75px;
	max-height: 695.8px;
	padding: 0 20px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 2em auto;
}

#los-scaled-frame {
	width: 1227px;
	height: 980px;
	border: 0px;
    zoom: 0.71;
    -moz-transform: scale(0.71);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.71);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.71);
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#los-scaled-frame  {
		zoom: 1;
	}
}

/* Save this color for possible use later. Light Orange, good for fading into when using gradients: rgb(255,175,60) */